# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# IDEs/System
.DS_Store
.vscode/
.idea/
Thumbs.db

# Local DB & Uploads
backend/ngo_tracker.db
backend/static/
